@page
@model aaron_favorite_music.Pages.MusicAlbums.ListModel
@{
    ViewData["Title"] = "Music Album";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h2>Music Albums</h2>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" 
            asp-for="SearchTerm">
            <span class="input-group-btn">
                <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach(var musicAlbum in Model.MusicAlbums)
{
    <partial name="_Summary" Model="musicAlbum"/>
}

<a asp-page="./Edit" class="btn btn-primary">Add New</a>

@section footer {
    <div>@Model.ConfigMessage</div>
}
